<?xml version="1.0"?>
<phpunit bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="My Test Suite">
            <directory>./classes</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="./coverage.txt"/>
    </logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
</phpunit>